.banner{
	background: url("https://dongkhoi.baovinhlong.vn/image/fckeditor/upload/2020/20200920/images/truong-nguyen-dinh-chieu.jpg") no-repeat center center;
	background-size: cover;
	padding: 12rem !important;
	color: cyan;
	text-align: center;
	text-shadow: 
        2px 2px 6px black;
}
.slogan{
background: linear-gradient(90deg, grey, lightgrey) !important;
text-align: center !important;
width: 100%;
padding-right: 0.5rem;
padding-left: 0.5rem;
padding-top:7rem;
padding-bottom:7rem;
}
.row{
display: flex;
flex-wrap: wrap;
margin-top:-1;
max-width:100%;
padding-right:9rem;
padding-left: 9rem;
color: black;
}
.block_3{
flex: 0 0 auto;
width: 33%;
text-align: center;
font-size:30px;
}
p {
    font-size: 18px;
}
.clb {
text-align:center;
margin: 20px auto;
width: 300px;
padding: 15px;
background-color: white;
border-radius: 10px;
}
a{
font-size: 18px;
font-weight: bold;
}
a:hover {
color: orange;
}
.ending{
 background: linear-gradient(90deg, lightgrey, grey);
}
.main{
background: linear-gradient(90deg, white, lightgrey);
text-align: center;
}
.main1{
background: linear-gradient(90deg, white, lightgrey);
}
.tablehead{
font-size:26px;
}
.tablefactor{
font-size:20px;
}
.bold{
font-weight:bold;
}
.list{
list-style-type: "*";
}
.color{
color: navy;
}
.left{
text-align: left;
}